# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: ci-build-and-test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-wheels:
    name: Build slima2a
    uses: ./.github/workflows/reusable-python-build-and-test.yaml
    with:
      package: slima2a
      working-directory: .
